html{
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: inherit;/*El atributo inherit esta heredando las propiedades de su padre mas cercano que tenga estilos*/
}