*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Otra alternativa para este reseteo universal es utilizar normalize.css
se debe descargar en la siguiente pagina: https://necolas.github.io/normalize.css/,
luego el codigo que me muestra lo guardo en un archivo y lo pego en el proyecto
en el que este trabajando y luego con la etiqueta link lo agrego al proyecto
como si se tratara de una hoja de estilos, en este proyecto ya esta agregado 
en el index.html*/


main{
    width: 100%;
    height: 500px;
    border: 10px solid gray;
    padding: 20px 35px;
}